<template>
  <div class="img">
    <div class="login">
      <div>
        <h2>管 理 员 登 录</h2>
        <div class="login_box">
          <input v-model="admin.account" autocomplete="off" required/><label>账号</label>
        </div>
        <div class="login_box">
          <input v-model="admin.password" autocomplete="off" v-on:keyup.enter="submit" type="password" required/><label>密码</label>
        </div>

        <div class="btn">
          <button class="login_btn" @click="submit">登 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "AdminLogin",
  data() {
    return {
      admin: {
        account: '',
        password: '',
      }
    }
  },

  methods: {

    submit() {
      this.$store.dispatch("AdminUser/adminLogin", this.admin)
    },

  },


  mounted() {

  }
}
</script>

<style scoped>
.login {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 40px;

  position: absolute;
  left: 50%;
  top: 65%;
  margin-left: -300px;
  margin-top: -300px;;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
  border-radius: 15px;

}

.img {
  background-image: url("../assets/bg26.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


.login h2 {
  color: #fff;
  margin-bottom: 30px;
}

.login .login_box {
  position: relative;
  width: 100%;
}

.login .login_box input {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.login .login_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s;
}

.login .login_box input:focus + label,
.login .login_box input:valid + label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
}

.login a {
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  text-decoration: none;
  transition: all 0.5s;
  margin: 60px;
}

.login a:hover {
  color: #fff;
  border-radius: 5px;
  background-color: rgba(3, 233, 244, 0.66);
  box-shadow: 0 0 5px rgba(3, 233, 244, 0.66), 0 0 25px rgba(3, 233, 244, 0.66), 0 0 50px rgba(3, 233, 244, 0.66), 0 0 100px rgba(3, 233, 244, 0.66);
}

.login a span {
  position: absolute;
}

.login a span:first-child {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #03e9f4);
  animation: move1 1s linear infinite;
}

.login a span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(transparent, #03e9f4);
  animation: move2 1s linear 0.25s infinite;
}

.login a span:nth-child(3) {
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #03e9f4);
  animation: move3 1s linear 0.5s infinite;
}

.login a span:last-child {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(#03e9f4, transparent);
  animation: move4 1s linear 0.75s infinite;
}

@keyframes move1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes move2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes move3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes move4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login_btn {
  background-color: rgba(255, 255, 255, 0.582);
  border: 1px solid rgb(190, 225, 255);
  padding: 10px;
  width: 240px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  color: white;
  font-weight: 100;
  margin-top: 15px;
}

.login_btn:hover {
  box-shadow: 2px 2px 15px 2px rgb(190, 225, 255);
  background-color: transparent;
  /* 选择动画 */
  animation: login_mation 0.5s;
}

/* 定义动画 */
@keyframes login_mation {
  from {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0px 0px 15px 2px rgb(190, 225, 255);
  }
  to {
    background-color: transparent;
    box-shadow: 2px 2px 15px 2px rgb(190, 225, 255);
  }
}


</style>
