<template>
<div>
  <el-table
    border
    :data="$store.getters['Equipment/getEquipmentData']"
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}"
    style="width: 100% ;margin-top: 20px;margin-bottom: 20px">
    <el-table-column
      label="序号"
      width="70px">
      <template slot-scope="scope">
        {{scope.$index+1}}
      </template>
    </el-table-column>


    <el-table-column
      label="器材"
      width="90">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.name}}</span>
        </div>
      </template>
    </el-table-column>


    <el-table-column
      label="数量"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.number}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="天数"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.day}}天</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="创建时间"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.createTime}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column label="操作" width="170">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>



  <!--  增加按钮-->
  <el-button type="primary" class="addbtn" @click="Eqienment">增加</el-button>

  <!--  增加-->
  <el-dialog title="增加器材" :visible.sync="addVisible" width="500px" top="10px"
             @close="cancel('addEquipment')"
  >
    <el-form :model="addEquipment" :rules="rules" ref="addEquipment" label-width="100px" class="demo-ruleForm">

      <el-form-item label="器材:" prop="name" style="margin: 10px 5px">
        <el-input v-model="addEquipment.name" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="数量:" prop="number">
        <el-input v-model="addEquipment.number" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="天数:" prop="day">
        <el-input v-model="addEquipment.day" style="width: 200px"></el-input>
      </el-form-item>


      <el-form-item>
        <el-button type="primary" @click="add('addEquipment')">添加</el-button>
        <el-button @click="resetForm('addEquipment')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>


  <!--  修改-->
  <el-dialog title="修改器材" :visible.sync="updateFormVisible" width="500px" top="10px"
             @close="cancel('updateEquipment')"
  >
    <el-form :model="updateEquipment" :rules="rules" ref="updateEquipment" label-width="100px" class="demo-ruleForm">


      <el-form-item label="器材:" prop="name" style="margin: 10px 5px">
        <el-input v-model="updateEquipment.name" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="数量:" prop="number">
        <el-input v-model="updateEquipment.number" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="天数:" prop="day">
        <el-input v-model="updateEquipment.day" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('updateEquipment')">提交</el-button>
        <el-button @click="resetForm('updateEquipment')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>
</div>
</template>

<script>
import request from "../../utils/axiosutils";

export default {
  name: "EquipmentManager",
  data(){
    return{
      updateFormVisible:false,
      addVisible:false,
      addEquipment:{
        name:'',
        number:'',
        day:'',
      },
      updateEquipment:{},
      rules:{},
    }
  },

  methods:{

      //增加窗口
    Eqienment(){
      this.addVisible=true;
    },
    //增加
    add(addEquipment){
      let that=this;
      this.$refs[addEquipment].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将添加用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning',
          }).then(()=>{
            request({
              url:'/admin/insertEquipment',
              methods: 'get',
              params:{
                // equipment:this.addEquipment,
                name:that.addEquipment.name,
                number:that.addEquipment.number,
                day:that.addEquipment.day,
              }
            }).then(response=>{
              if (response.data.state===200){
                that.addVisible=false;
                this.$notify.success({
                  title:'添加成功',
                  duration:2000,
                  message:response.data.message
                });
                this.requestEquipmentData();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          })
        }else {
          return false
        }
      })
    },
    //修改提交
    submitForm(formData){
      let that=this;
      this.$refs[formData].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将修改用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning',
          }).then(()=>{
            request({
              url:'/admin/modifyEquipment',
              methods: 'get',
              params:{
                id:that.updateEquipment.id,
                name:that.updateEquipment.name,
                number:that.updateEquipment.number,
                day:that.updateEquipment.day,
              }
            }).then(response=>{
              console.log(response.data)
              if (response.data.state===200){
                that.updateFormVisible=false;
                this.$notify.success({
                  title:'修改成功',
                  duration:2000,
                  message:response.data.message
                });
                this.requestEquipmentData();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          })
        }else {
          return false
        }
      })
    },
    //重置
    resetForm(formName){
      this.$refs[formName].resetFields();
    },
    //取消修改修改
    cancel(formName){
      this.$refs[formName].resetFields();
      this.editDialogVisible=false;
    },
    //编辑
    handleEdit(index, row){
      this.updateEquipment=row;
      this.updateFormVisible=true;
    },
    //删除
    handleDelete(index,row){
      let that=this;
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        request({
          url: '/admin/deleteEquipment',
          method: 'get',
          params: {
            id: row.id,
          }
        }).then(reponse => {
          if (reponse.status===200) {
            this.$notify.success({
              title: '删除',
              duration: 2000,
              message: '删除成功！'
            });
            that.requestEquipmentData();
          } else {
            this.$message({
              type: 'error',
              message: '删除失败!'
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'success',
          message: '已取消'
        })
      })
    },

    requestEquipmentData(){
        this.$store.commit("Equipment/requestEquipmentData")
    }
  },
  mounted() {
    this.requestEquipmentData();
  }
}
</script>

<style scoped>
.addbtn{
  position: relative;
  display: flex;
}
</style>
