<template>
<div>
  <h4>收入</h4>
  <canvas id="myChart" style="height: 30%;width: 30%" ></canvas>
  </div>
</template>

<script>
import request from "../../utils/axiosutils";
import Chart from 'chart.js'

export default {
  name: "IncomeManager",
  data(){
    return{
        incomeData:{
          income:'',
          people:'',
        }
    }
    },

    methods:{
      getIncome(){
        request({
          url: '/admin/Income',
          method: "post",
        }).then(request => {
          this.incomeData = request.data.data;

          let ctx = document.getElementById("myChart");
          let income=parseInt(this.incomeData.income)
          let people=parseInt(this.incomeData.people)
          let average=income/people
          let myChart = new Chart(ctx, {
            type: "horizontalBar",
            data: {
              datasets: [
                {
                  label:"",
                  data: [income,average,people],

                  backgroundColor:[
                    'rgba(255,99,132)',
                    'rgba(54,162,235)',
                    'rgb(163,13,238)',
                  ],
                }
              ],
              labels: ["总收入","人均消费", "总用户"],

            },

          });
        });
      },
      s(){

      }
    },

  mounted() {
    this.getIncome();

  }
}
</script>

<style scoped>

</style>
