<template>
  <div>
    <el-container>
      <el-aside id="my-el-aside" class="my-el-aside" width="200px" style="
      border-bottom: solid 1px #e6e6e6;">
        <el-menu
            default-active="/admin/user"
            class="el-menu-vertical-demo"
            :router="true">
          <el-menu-item index="/admin/user">
            <span slot="title">后台首页</span>
          </el-menu-item>
          <el-submenu index="2">
            <template slot="title">
              <span>应用中心</span>
            </template>
          <el-menu-item-group>
            <el-menu-item index="/admin/private">私教</el-menu-item>
            <el-menu-item index="/admin/curriculum">私教课</el-menu-item>
            <el-menu-item index="/admin/publicClass">团体课</el-menu-item>
            <el-menu-item index="/admin/equipment">器材</el-menu-item>
          </el-menu-item-group>
          </el-submenu>
          <el-menu-item index="/admin/order">
            <span slot="title">订单</span>
          </el-menu-item>
          <el-menu-item index="/admin/member">
            <span slot="title">会员卡</span>
          </el-menu-item>
          <el-menu-item index="/admin/income">
            <span slot="title">健身房收入</span>
          </el-menu-item>
        </el-menu>
      </el-aside>

      <el-main id="my-el-main">
        <el-header class="my-el-header">
          <div style="display: flex">
          <span style="font-size: 16px;display: flex;text-align:left;margin-left: 20px">
            <span class="hidden-xs-only">欢迎</span>
            <span class="hidden-xs-only" style="color: red;margin-left: 5px"></span>
          </span>
            <span style="display: flex;margin: 0 auto">17 练 后 台 管 理</span>
          </div>
        </el-header>
      <el-main>
        <router-view></router-view>
        <el-backtop :visibility-height="100" style="z-index: 99999">
          <div class="my-el-backtop-icon">
            <i class="el-icon-caret-top"></i>
          </div>
        </el-backtop>
      </el-main>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "ManageIndex"
}
</script>

<style scoped>
#my-el-main {
  padding: 0;
  position: absolute;
  left: 200px;
  width: 100%;
  background-color: rgb(240, 242, 245)
}

.my-el-header {
  background-color: rgb(255, 255, 255);
  line-height: 60px;
  font-size: 28px;
  padding: 0;
}

.my-el-backtop-icon {
  height: 100%;
  width: 100%;
  background-color: #f2f5f6;
  box-shadow: 0 0 6px rgba(0, 0, 0, .12);
  text-align: center;
  line-height: 40px;
  color: #1989fa;
}

.my-el-backtop-icon:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, .30);
}

.my-el-aside ul {
  background-color: transparent;
}

.my-el-aside {
  border-bottom: none !important;
}
</style>
