<template>
  <div>
    <el-table
      border
      :data="$store.getters['Member/getMemberData']"
      :header-cell-style="{'text-align':'center'}"
      :cell-style="{'text-align':'center'}"
      style="width: 100% ;margin-top: 20px;margin-bottom: 20px">
      <el-table-column
        label="序号"
        width="70px">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>

      <el-table-column
        prop="orderId"
        label="订单id"
        width="150">
      </el-table-column>

      <el-table-column
        label="时间"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span>{{ scope.row.modifiedTime }}</span>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="用户订单"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
          <span v-for="(item, index) in ( scope.row.userOrderList)" :key="index">
              {{ item.title }}
             {{ item.price }}/元
              <br/>
            </span>

          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="用户姓名"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
           <span v-for="(item, index) in ( scope.row.userList)" :key="index">
              {{ item.username }}
              <br/>
            </span>
          </div>
        </template>

      </el-table-column>
      <el-table-column label="操作" width="170">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <!--    修改-->
    <el-dialog title="修改会员" :visible.sync="updateFormVisible" width="500px" top="10px"
               @close="cancel('updateOrder')"
    >
      <el-form :model="updateOrder" :rules="rules" ref="updateOrder" label-width="100px" class="demo-ruleForm">


              <el-form-item label="标题:" prop="title" style="margin: 10px 5px">
                 <span v-for="(item, index) in (updateOrder.userOrderList)" :key="index">
                          <el-input v-model="item.title" style="width: 200px"></el-input>
                      <br />
                    </span>
              </el-form-item>

        <el-form-item label="价格:" prop="price">
        <span v-for="(item, index) in (updateOrder.userOrderList)" :key="index">
                  <el-input v-model="item.price" style="width: 200px"></el-input>
              <br/>
            </span>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('updateOrder')">提交</el-button>
          <el-button @click="resetForm('updateOrder')">重置</el-button>
        </el-form-item>

      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import request from "../../utils/axiosutils";

export default {
  name: "MemberManager",
  data() {
    return {

      updateOrder: {},
      rules: {},

      updateFormVisible: false,

    }
  },

  methods: {

    //提交
    submitForm(formData) {
      let that = this;
      this.$refs[formData].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将修改用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning'
          }).then(()=>{
      request({
        url: '/admin/modifyMember',
        methods: 'get',
        params: {
          userId: that.updateOrder.userOrderList[0].userId,
          title: that.updateOrder.userOrderList[0].title,
          price: that.updateOrder.userOrderList[0].price,
        }
      }).then(response => {
        if (response.data.state === 200) {
          that.updateFormVisible = false;
          this.$notify.success({
            title: '修改成功',
            duration: 2000,
            message: response.data.message
          });
          this.getMemberData();
        } else {
          this.$notify.error({
            title: '爱好',
            duration: 2000,
            message: '参数有误'
          });
        }
      })
          }).catch(()=>{
            this.$message({
              type:'success',
              message:'取消',
            });
          })
        }else {

          return false
        }
      })
    },
    //重置
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },


    //取消修改修改
    cancel(formName) {
      this.$refs[formName].resetFields();
      this.editDialogVisible = false;
    },
    //编辑
    handleEdit(index, row) {
      this.updateOrder = row;
      this.updateFormVisible = true;
    },
    getMemberData() {
      this.$store.commit("Member/requestMember")
    }
  },

  mounted() {
    this.getMemberData();
  }
}
</script>

<style scoped>

</style>
