<template>
<div>
<el-table
  border
  :data="$store.getters['UserOrder/getUserOrderData']"
  :header-cell-style="{'text-align':'center'}"
  :cell-style="{'text-align':'center'}"
  style="width: 100% ;margin-top: 20px;margin-bottom: 20px">
  <el-table-column
    label="序号"
    width="70px">
    <template slot-scope="scope">
      {{scope.$index+1}}
    </template>
  </el-table-column>

  <el-table-column
    prop="userId"
    label="用户id"
    width="150">
  </el-table-column>

  <el-table-column
    label="标题"
    width="170">
    <template slot-scope="scope">
      <div slot="reference" class="name-wrapper">
        <span >{{ scope.row.title}}</span>
      </div>
    </template>
  </el-table-column>

  <el-table-column
    label="价格"
    width="170">
    <template slot-scope="scope">
      <div slot="reference" class="name-wrapper">
        <span >{{ scope.row.price}}</span>
      </div>
    </template>
  </el-table-column>



  <el-table-column
    label="创建时间"
    width="170">
    <template slot-scope="scope">
      <div slot="reference" class="name-wrapper">
        <span >{{ scope.row.createTime}}</span>
      </div>
    </template>

  </el-table-column>
  <el-table-column label="操作" width="170">
    <template slot-scope="scope">
      <el-button
        size="mini"
        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
    </template>
  </el-table-column>
</el-table>

  <!--    修改-->
  <el-dialog title="修改订单" :visible.sync="updateFormVisible" width="500px" top="10px"
             @close="cancel('updateOrder')"
  >
    <el-form :model="updateOrder" :rules="rules" ref="updateOrder" label-width="100px" class="demo-ruleForm">


      <el-form-item label="姓名:" prop="title" style="margin: 10px 5px">
        <el-input v-model="updateOrder.title" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="价格:" prop="price">
        <el-input v-model="updateOrder.price" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="submitForm('updateOrder')">提交</el-button>
        <el-button @click="resetForm('updateOrder')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>
</div>
</template>

<script>
import request from "../../utils/axiosutils";

export default {
  name: "orderManager",
  data(){
    return{
      updateOrder:{},
      rules:{},
      updateFormVisible:false,

    }
  },
  methods:{

    submitForm(formData){
      let that=this;
      this.$refs[formData].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将修改用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning'
          }).then(()=>{
            request({
              url:'/admin/modifyOrder',
              methods: 'get',
              params:{
                // userOrder:that.updateOrder,
                id:that.updateOrder.id,
                title:that.updateOrder.title,
                price:that.updateOrder.price,
              }
            }).then(response=>{
              console.log(response)
              if (response.data.state===200){
                that.updateFormVisible=false;
                this.$notify.success({
                  title:'修改',
                  duration:2000,
                  message:response.data.message
                });

                this.getUseOrder();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          }).catch(()=>{
            this.$message({
              type:'success',
              message:'取消',
            });
          })
        }else {

          return false
        }
      })
    },
    //编辑
    handleEdit(index, row){
      this.updateOrder=row;
      this.updateFormVisible=true;
    },

    //重置
    resetForm(formName){
      this.$refs[formName].resetFields();
    },

    //取消修改修改
    cancel(formName){
      this.$refs[formName].resetFields();
      this.editDialogVisible=false;
    },
    getUseOrder(){
      this.$store.commit("UserOrder/requestUserOrderData")
    },

  },
  mounted() {

    this.getUseOrder();

  }
}
</script>

<style scoped>

</style>
