<template>
<div>
  <el-table
    border
    :data="$store.getters['PrivateAdmin/getPrivateAdminData']"
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}"
    style="width: 100% ;margin-top: 20px;margin-bottom: 20px">
    <el-table-column
      label="序号"
      width="70px">
      <template slot-scope="scope">
        {{scope.$index+1}}
      </template>
    </el-table-column>

    <el-table-column
      prop="privateName"
      label="姓名"
      width="90">
    </el-table-column>

    <el-table-column
      label="头像"
      width="85">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <img :src="scope.row.privateHeadPortrait"  height="60px" width="60px"
               style="border-radius: 50%">
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="上课数"
      width="100">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.cumulativeClass}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="证书"
      width="100">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.certificate}}</span>
        </div>
      </template>
    </el-table-column>
    <el-table-column
      label="好评率"
      width="100">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.favorableRate}}%</span>
        </div>
      </template>
    </el-table-column>
    <el-table-column
      label="评价"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.evaluate}}</span>
        </div>
      </template>
    </el-table-column>
    <el-table-column
      label="介绍"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.introduction}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column label="操作" width="170">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
<!--  增加按钮-->
  <el-button type="primary" class="addbtn" @click="Private">增加</el-button>

<!--  增加-->
  <el-dialog title="增加私教" :visible.sync="addVisible" width="500px" top="10px"
             @close="cancel('addPrivate')"
  >
    <el-form :model="addPrivate" :rules="rules" ref="addPrivate" label-width="100px" class="demo-ruleForm">

      <el-form-item label="头像" prop="privateHeadPortrait" style="margin: 20px 50px">
        <el-upload
          v-model="addPrivate.privateHeadPortrait"
          class="avatar-uploader"
          :action="uploadActionUrl+'/picture/uploadImage'"
          name="image"
          :show-file-list="false"
          :on-success="addHandleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="addPrivate.privateHeadPortrait" :src="addPrivate.privateHeadPortrait" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>

      <el-form-item label="姓名:" prop="privateName" style="margin: 10px 5px">
        <el-input v-model="addPrivate.privateName" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="课程数:" prop="cumulativeClass">
        <el-input v-model="addPrivate.cumulativeClass" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="证书:" prop="certificate">
        <el-input v-model="addPrivate.certificate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="好评率:" prop="favorableRate">
        <el-input v-model="addPrivate.favorableRate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="评价:" prop="evaluate">
        <el-input v-model="addPrivate.evaluate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="内容:" prop="introduction">
        <el-input style="width: 250px;margin-left: 10px;margin-top: 10px"
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 4}"
                  placeholder="请输入内容"
                  v-model="addPrivate.introduction">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="add('addPrivate')">提交</el-button>
        <el-button @click="resetForm('addPrivate')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>


<!--  修改-->
  <el-dialog title="修改私教" :visible.sync="updateFormVisible" width="500px" top="10px"
             @close="cancel('updatePrivateAdmin')"
  >
    <el-form :model="updatePrivateAdmin" :rules="rules" ref="updatePrivateAdmin" label-width="100px" class="demo-ruleForm">


      <el-form-item label="姓名:" prop="privateName" style="margin: 10px 5px">
        <el-input v-model="updatePrivateAdmin.privateName" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="课程数:" prop="cumulativeClass">
        <el-input v-model="updatePrivateAdmin.cumulativeClass" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="证书:" prop="certificate">
        <el-input v-model="updatePrivateAdmin.certificate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="好评率:" prop="favorableRate">
        <el-input v-model="updatePrivateAdmin.favorableRate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="评价:" prop="evaluate">
        <el-input v-model="updatePrivateAdmin.evaluate" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="内容:" prop="introduction">
      <el-input style="width: 250px;margin-left: 10px;margin-top: 10px"
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 4}"
                placeholder="请输入内容"
                v-model="updatePrivateAdmin.introduction">
      </el-input>
        </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('updatePrivateAdmin')">提交</el-button>
        <el-button @click="resetForm('updatePrivateAdmin')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>

</div>
</template>

<script>
import request from "../../utils/axiosutils";
import base_url from "../../utils/Constants";

export default {
  name: "PrivateEducationManager",
  data(){
    return{
      getter:[],
      updateFormVisible:false,
      addVisible:false,
      updatePrivateAdmin:{},
      rules:{},
      addPrivate:{
        privateName:'',
        privateHeadPortrait:'',
        cumulativeClass:'',
        certificate:'',
        favorableRate:'',
        evaluate:'',
        introduction:'',
      },
      picture:'',
      //图片上传路径
      uploadActionUrl: base_url
    }
  },
  methods:{

    // 增加
    add(addPrivate){
      let that=this;
      this.$refs[addPrivate].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将添加用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning',
          }).then(()=>{
            request({
              url:'/admin/insertPrivateAdmin',
              methods: 'get',
              params:{
                privateName:that.addPrivate.privateName,
                privateHeadPortrait:that.picture,
                cumulativeClass:that.addPrivate.cumulativeClass,
                certificate:that.addPrivate.certificate,
                favorableRate:that.addPrivate.favorableRate,
                evaluate:that.addPrivate.evaluate,
                introduction:that.addPrivate.introduction,
              }
            }).then(response=>{
              if (response.data.state===200){
                that.addVisible=false;
                this.$notify.success({
                  title:'添加成功',
                  duration:2000,
                  message:response.data.message
                });
                this.getPrivateAdminData();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          })
        }else {
          return false
        }
      })
    },
    //增加窗口视图
    Private(){
      this.addVisible=true;
    },
    //处理头像之前
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPng = file.type === 'image/png';
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (isJPG) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else if (isPng) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else {
        this.$message.error('上传头像图片只能是 JPG或PNG 格式!');
        return false;
      }
    },

    //添加处理头像成功
    addHandleAvatarSuccess(result) {
      console.log(result)
      if (result.state===200) {
        this.addPrivate.privateHeadPortrait = result.data.fileUrl;
        this.picture=result.data.fileName;

      } else {
        this.$notify.error({
          title: '图片错误',
          duration: 6000,
          message: result.message
        });
      }
    },
    //修改提交
    submitForm(formData){
      let that=this;
      this.$refs[formData].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将修改用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning'
          }).then(()=>{

            request({
              url:'/admin/modifyPrivateAdmin',
              methods: 'get',
              params:{
                id:that.updatePrivateAdmin.id,
                privateName:that.updatePrivateAdmin.privateName,
                cumulativeClass:that.updatePrivateAdmin.cumulativeClass,
                certificate:that.updatePrivateAdmin.certificate,
                favorableRate:that.updatePrivateAdmin.favorableRate,
                evaluate:that.updatePrivateAdmin.evaluate,
                introduction:that.updatePrivateAdmin.introduction,
              }
            }).then(response=>{
              console.log(response.data)
              if (response.data.state===200){
                that.updateFormVisible=false;
                this.$notify.success({
                  title:'修改成功',
                  duration:2000,
                  message:response.data.message
                });
                this.getPrivateAdminData();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          }).catch(()=>{
            this.$message({
              type:'success',
              message:'取消',
            });
          })
        }else {

          return false
        }
      })
    },
    //重置
    resetForm(formName){

      this.$refs[formName].resetFields();
    },
    //取消修改修改
    cancel(formName){
      this.$refs[formName].resetFields();
      this.editDialogVisible=false;
    },
    //编辑
    handleEdit(index, row){
      this.updatePrivateAdmin=row;
      this.updateFormVisible=true;
    },
    //删除
    handleDelete(index,row){
      let that=this;
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        request({
          url: '/admin/deletePrivateAdmin',
          method: 'get',
          params: {
            id: row.id,
          }
        }).then(reponse => {
          if (reponse.status===200) {
            this.$notify.success({
              title: '删除',
              duration: 2000,
              message: '删除成功！'
            });
            that.getPrivateAdminData();
          } else {
            this.$message({
              type: 'error',
              message: '删除失败!'
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'success',
          message: '已取消'
        })
      })
    },

    getPrivateAdminData() {
      this.$store.commit("PrivateAdmin/requestPrivateAdmin")
    }
  },
  mounted() {
    this.getPrivateAdminData();
    // let getter = this.$store.getters['PrivateAdmin/getPrivateAdminData'];
  }
}
</script>

<style scoped>
.addbtn{
  position: relative;
  display: flex;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
