<template>
<div>

  <el-table
    border
    :data="data"
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}"
    style="width: 100% ;margin-top: 20px;margin-bottom: 20px">

    <el-table-column
      label="序号"
      width="70px">
      <template slot-scope="scope">
        {{scope.$index+1}}
      </template>
    </el-table-column>

    <el-table-column
      prop="name"
      label="姓名"
      width="90">
    </el-table-column>

    <el-table-column
      label="头像"
      width="85">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <img :src="scope.row.photo"  height="60px" width="60px"
               style="border-radius: 50%">
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="标题"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.title}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column
      label="时间"
      width="170">
      <template slot-scope="scope">
        <div slot="reference" class="name-wrapper">
          <span >{{ scope.row.time}}</span>
        </div>
      </template>
    </el-table-column>

    <el-table-column label="操作" width="170">
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>

<!--分页-->
  <div class="pagination">
    <!--  增加按钮-->
    <el-button type="primary" class="addbtn" @click="publicEdit">增加</el-button>

    <el-pagination
      background
      layout="total,prev,pager,next"
      :current-page="currentPage"
      :page-size="pageSize"
      :total="publicClassData.length"
      @current-change="handleCurentPage"
    >

    </el-pagination>
  </div>


  <!--  增加-->
  <el-dialog title="增加团体课" :visible.sync="addVisible" width="500px" top="10px"
             @close="cancel('addPublicClass')"
  >
    <el-form :model="addPublicClass" :rules="rules" ref="addPublicClass" label-width="100px" class="demo-ruleForm">

      <el-form-item label="头像" prop="photo" style="margin: 20px 50px">
        <el-upload
          v-model="addPublicClass.photo"
          class="avatar-uploader"
          :action="uploadActionUrl+'/picture/uploadImage'"
          name="image"
          :show-file-list="false"
          :on-success="addHandleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="addPublicClass.photo" :src="addPublicClass.photo" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>

      <el-form-item label="姓名:" prop="name" style="margin: 10px 5px">
        <el-input v-model="addPublicClass.name" style="width: 200px"></el-input>
      </el-form-item>

      <el-form-item label="标题:" prop="title">
        <el-input v-model="addPublicClass.title" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="时间:" prop="time">
        <el-input v-model="addPublicClass.time" style="width: 200px"></el-input>
      </el-form-item>
      <el-form-item label="私教姓名:" prop="privateName">

        <el-select v-model="privateName" placeholder="请选择" @change="applicantTypes">
          <el-option
            v-for="(item, index) in this.PrivateAdmins"
            :key="index"
            :label="item.privateName"
            :value="item.privateName">
          </el-option>
        </el-select>

      </el-form-item>


      <el-form-item>
        <el-button type="primary" @click="add('addPublicClass')">提交</el-button>
        <el-button @click="resetForm('addPublicClass')">重置</el-button>
      </el-form-item>

    </el-form>
  </el-dialog>
</div>
</template>

<script>
import base_url from "../../utils/Constants";
import request from "../../utils/axiosutils";

export default {
  name: "PublicClassManager",
  data(){
    return{
      //分页
      pageSize:5,
      currentPage:1,
      publicClassData:[],

      addVisible:false,
      addPublicClass:{
        name:'',
        photo:'',
        title:'',
        time:'',
      },
      rules:{},
      publicClass:{},
      PrivateAdmins:'',
      privateName:'',
      select:'',
      picture:'',
      //图片上传路径
      uploadActionUrl: base_url
    }
  },
  computed:{
    data(){
      this.publicClassData=this.$store.getters['PublicClass/getPublicClassData']
      return this.publicClassData.slice((this.currentPage-1)*this.pageSize,this.currentPage*this.pageSize)
    },
  },
  methods:{
    // 获取选择器中的值
    applicantTypes(value){

      this.select=value;

    },
    //获取当前页
    handleCurentPage(val){
      this.currentPage=val;
    },
    //增加
    add(addPublicClass){
      let that=this;
      this.$refs[addPublicClass].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将添加用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning',
          }).then(()=>{

            request({

              url:'/admin/insertPublicClass',
              methods: 'get',
              params:{
                teacherName:that.select,
                name:that.addPublicClass.name,
                title:that.addPublicClass.title,
                photo:that.picture,
                time:that.addPublicClass.time,

              }
            }).then(response=>{
              if (response.data.state===200){
                that.addVisible=false;
                this.$notify.success({
                  title:'添加成功',
                  duration:2000,
                  message:response.data.message
                });
                this.getPublicClassData();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          })
        }else {
          return false
        }
      })
    },
    //增加窗口视图
    publicEdit(){
      this.addVisible=true;
    },
    //重置
    resetForm(formName){

      this.$refs[formName].resetFields();
    },
    //取消修改修改
    cancel(formName){
      this.$refs[formName].resetFields();
      this.editDialogVisible=false;
    },
    //处理头像之前
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPng = file.type === 'image/png';
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (isJPG) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else if (isPng) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else {
        this.$message.error('上传头像图片只能是 JPG或PNG 格式!');
        return false;
      }
    },

    //添加处理头像成功
    addHandleAvatarSuccess(result) {
      console.log(result)
      if (result.state===200) {
        this.addPublicClass.photo = result.data.fileUrl;
        this.picture=result.data.fileName;
      } else {
        this.$notify.error({
          title: '图片错误',
          duration: 6000,
          message: result.message
        });
      }
    },
    //删除
    handleDelete(index,row){
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        request({
          url: '/admin/deletePublicClass',
          method: 'get',
          params: {
            id: row.id,
          }
        }).then(reponse => {

          if (reponse.status===200) {
            this.$notify.success({
              title: '删除',
              duration: 2000,
              message: '删除成功！'
            });
            this.getPublicClassData();
          } else {
            this.$message({
              type: 'error',
              message: '删除失败!'
            })
          }
        })

      }).catch(() => {
        this.$message({
          type: 'success',
          message: '已取消'
        })
      })

    },
    getPublicClassData() {
      this.$store.commit("PublicClass/requestPublicClassData")
    },
    requestAllPrivateAdmins(){
      request({
        url:'admin/findAllPrivateAdmins',
        method:'post'
      }).then(res=>{
        this.PrivateAdmins=res.data.data.records

      })
    },
  },
  mounted() {
    this.getPublicClassData();
    this.requestAllPrivateAdmins();

  }

}
</script>

<style scoped>
.addbtn{
  position: relative;
  display: flex;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
/*分页*/
.pagination{
  /*display: flex;*/
  justify-content: center;
}
</style>
