<template>
<div>

 <div>
    <el-table
      border
      :data="$store.getters['User/getTableData']"
      :header-cell-style="{'text-align':'center'}"
      :cell-style="{'text-align':'center'}"
      style="width: 100% ;margin-top: 20px;margin-bottom: 20px">
      <el-table-column
        label="序号"
        width="70px">
        <template slot-scope="scope">
          {{scope.$index+1}}
        </template>
      </el-table-column>

      <el-table-column
        prop="username"
        label="姓名"
        width="90">
      </el-table-column>

      <el-table-column
        label="头像"
        width="85">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <img :src="scope.row.userHeadPortrait"  height="60px" width="60px"
                 style="border-radius: 50%">
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="账号"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span >{{ scope.row.account}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="密码"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span >{{ scope.row.password}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="余额"
        width="100">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span >{{ scope.row.money}}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        label="注册时间"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span >{{ scope.row.createdTime}}</span>
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="上次更新时间"
        width="170">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <span >{{ scope.row.modifiedTime}}</span>
          </div>
        </template>

      </el-table-column>
      <el-table-column label="操作" width="170">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>


   <!--    修改-->
   <el-dialog title="修改用户" :visible.sync="updateFormVisible" width="500px" top="10px"
              @close="cancel('updateUser')"
   >
     <el-form :model="updateUser" :rules="rules" ref="updateUser" label-width="100px" class="demo-ruleForm">


       <el-form-item label="姓名:" prop="username" style="margin: 10px 5px">
         <el-input v-model="updateUser.username" style="width: 200px"></el-input>
       </el-form-item>

       <el-form-item label="密码:" prop="password">
         <el-input v-model="updateUser.password" style="width: 200px"></el-input>
       </el-form-item>
       <el-form-item label="余额:" prop="money">
         <el-input v-model="updateUser.money" style="width: 200px"></el-input>
       </el-form-item>

       <el-form-item>
         <el-button type="primary" @click="submitForm('updateUser')">提交</el-button>
         <el-button @click="resetForm('updateUser')">重置</el-button>
       </el-form-item>

     </el-form>
   </el-dialog>
   <!--    分页-->


  </div>
</div>
</template>

<script>
import request from "../../utils/axiosutils";
import base_url from "../../utils/Constants";

export default {

  name: "UserManager",
  data(){
    return{
      updateUser:{},
      rules:{

      },

      updateFormVisible:false,

      id:'',
      adminInfo:{},


      //图片上传路径
      uploadActionUrl: base_url

    }
  },
  methods:{
    //处理头像之前
    beforeAvatarUpload(file){
      const isJPG = file.type === 'image/jpeg';
      const isPng = file.type === 'image/png';
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (isJPG) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else if (isPng) {
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
          return false;
        }
        return true;
      } else {
        this.$message.error('上传头像图片只能是 JPG或PNG 格式!');
        return false;
      }
    },
    //处理头像成功
    handleAvatarSuccess(res, file){
      console.log(this.updateUser.userHeadPortrait)
      console.log(res,file)
        this.updateUser.userHeadPortrait = res;
    },
    //修改提交
    submitForm(formData){
      let that=this;
      this.$refs[formData].validate((valid)=>{
        if (valid){
          this.$confirm('此操作将修改用户信息，是否继续?',"警告",{
            confirmButtonText:'确定',
            cancelButtonText:'取消',
            type:'warning'
          }).then(()=>{
            request({
              url:'/admin/modifyUser',
              methods: 'get',
              params:{
                id:that.updateUser.id,
                username:that.updateUser.username,
                password:that.updateUser.password,
                money:that.updateUser.money,
              }
            }).then(response=>{
              // that.dialogFormVisible=false;
              console.log(response.data)
              if (response.data.state===200){
                that.updateFormVisible=false;
                this.$notify.success({
                  title:'修改',
                  duration:2000,
                  message:response.data.message
                });
                this.getAdminList();
              }else{
                this.$notify.error({
                  title: '爱好',
                  duration: 2000,
                  message: '参数有误'
                });
              }
            })
          }).catch(()=>{
            this.$message({
              type:'success',
              message:'取消',
            });
          })
        }else {

          return false
        }
      })
    },
    //重置
    resetForm(formName){

      this.$refs[formName].resetFields();
    },


    //取消修改修改
    cancel(formName){
      this.$refs[formName].resetFields();
      this.editDialogVisible=false;
    },
    //编辑
    handleEdit(index, row){
      this.updateUser=row;
      this.updateFormVisible=true;
    },
    //删除用户
    handleDelete(index,row){
      let that=this;
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        request({
          url: '/admin/deleteUser',
          method: 'get',
          params: {
            id: row.id,
          }
        }).then(reponse => {
          if (reponse.status===200) {
            this.$notify.success({
              title: '删除',
              duration: 2000,
              message: '删除成功！'
            });
            that.getAdminList();
          } else {
            this.$message({
              type: 'error',
              message: '删除失败!'
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'success',
          message: '已取消'
        })
      })

    },

    //查询管理员信息
    getAdminList(){
      this.$store.commit("User/requestUserData")
    },
    //当前页改变的方法
    pageChange(value) {

      this.page.currentPage = value;
      // this.getUserList()
    },

  },
  mounted() {
    let item = window.sessionStorage.getItem('adminInfo');
    let data = JSON.parse(item);
    this.adminInfo=data;
    this.getAdminList();

  }
}
</script>

<style scoped>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}

.avatar {
  width: 130px;
  height: 130px;
  display: block;
}
</style>
